/* Global styles 
------------------------------------*/
/* border box fix */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
  }
  h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
  }
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 40px;
    margin-top: 0;
  }
  h3 {
    margin: 0;
  }
  a {
    color: #EF233C;
    font-size: 20px;
  }
  a:hover {
      text-decoration: none;
  }
  .content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: hidden;
  } 
  .uppercase {
    text-transform: uppercase;
  }

  #main {
    transition: margin-left .5s;
  }
  
/* Header & Footer
--------------------------------------------------*/

header, footer {
    background: #2B2D42;
    color: #8D99AE;
}

header {
  /* padding-top: 50px; */
}

/* Header */

header h1, header h2 {
    color: #EDF2F4;
    margin: 0;
}

header {
    /*text-align: center;*/
}


.profile-img { 
    border-radius: 50%;
}

/* Footer */

footer {
    text-align: center; 
}

.contact-info a {
    margin: 10px;
    display: inline-block;
}


/* Navigation
--------------------------------------------------*/

.burgrMenu {
  cursor: pointer;
  padding: 10px 0 0 10px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  text-align: center;
}

.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sideNav a:hover {
  color: #f1f1f1;
}

.sideNav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
  
}

/* Work experience
--------------------------------------------------*/

.work {
    background: #EDF2F4;
}
h3 ~ p {
  margin: 0;
}
.job-desc p:first-of-type {
  margin-top: 0;
}
.job-desc {
  margin-bottom: 25px;
}

/* Education
--------------------------------------------------*/

.education {
    background: #8D99AE;
}
p + h3 {
  margin-top: 30px;
}

/* Certification
--------------------------------------------------*/

.certification {
  background: #EDF2F4;
}

/* Media Queries 
--------------------------------------------------*/

@media (min-width: 900px) {

  .col-narrow {
    width: 35%;
    float: left;
    padding-right: 3%;
  }
  .col-wide {
    width: 62%;
    float: left;
  }

}

@media (max-width: 899px) {

  header {
    text-align: center;
  }
  .profile-img {
    width: 200px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
    margin-top: 0;
  }
  h3 {
    margin: 0;
  }
}

