/* Global styles 
------------------------------------*/
/* border box fix */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
  }
  h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
  }
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 40px;
    margin-top: 0;
  }
  h3 {
    margin: 0;
  }
  a {
    color: #EF233C;
  }
  a:hover {
      text-decoration: none;
  }
  .content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: hidden;
  }
  
  .col-narrow {
    width: 35%;
    float: left;
    padding-right: 3%;
  }
  .col-wide {
    width: 62%;
    float: left;
  }
  .uppercase {
    text-transform: uppercase;
  }
  
/* Header & Footer
--------------------------------------------------*/

header, footer {
    background: #2B2D42;
    color: #8D99AE;
}

header {
  padding-top: 50px;
}

/* Header */

header h1, header h2 {
    color: #EDF2F4;
    margin: 0;
}

header {
    /*text-align: center;*/
}


.profile-img { 
    border-radius: 50%;
}

/* Footer */

footer {
    text-align: center; 
}

.contact-info a {
    margin: 10px;
    display: inline-block;
}


/* Navigation
--------------------------------------------------*/

nav {
  text-align: center;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

/* Work experience
--------------------------------------------------*/

.work {
    background: #EDF2F4;
}
h3 ~ p {
  margin: 0;
}
.job-desc p:first-of-type {
  margin-top: 0;
}
.job-desc {
  margin-bottom: 25px;
}

/* Education
--------------------------------------------------*/

.education {
    background: #8D99AE;
}
p + h3 {
  margin-top: 30px;
}

/* Certification
--------------------------------------------------*/

.certification {
  background: #EDF2F4;
}